.expenses-table table {
  table-layout: fixed;
  z-index: 1;
}

.expenses-table td span {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.fixed-width {
  width: 4rem;
}

.expenses-table table thead th {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 3;
}

.expenses-table td svg,
.expenses-table table thead th span {
  cursor: pointer;
}

.expenses-table tbody tr:hover svg {
  visibility: visible;
}

.expense-normal,
.expense-confirm {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.expense-normal svg {
  visibility: hidden;
}

.expense-confirm svg {
  visibility: visibile;
}

.expense-delete {
  background-color: rgb(255, 93, 93);
}

.expenses-table tbody tr:hover:not(.expense-delete) {
  background-color: lightgray;
}

.expenses-table table tbody tr td {
  position: relative;
}
