table thead th {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1;
}

td svg,
table thead th span {
  cursor: pointer;
}

tbody tr:hover svg {
  visibility: visible;
}

tbody tr svg {
  visibility: hidden;
}

table tbody tr td {
  position: relative;
}

tbody .form-control {
  position: absolute;
  box-sizing: border-box;
}