
<%- include ('partials/header') %>

<div class="container jumbotron">
  <h1 class="display-3">About</h1>
  <p class="lead">Billy — Expense Tracker</p>
  <hr class="my-4">
  <p>something</p>
</div>

<%- include ('partials/footer') %>
