<%- include ('partials/header') %>

<div class="d-flex flex-fill" style="overflow-y: auto">
  <div class="container">
    <div class="jumbotron">
      <h1 class="display-3">An error occurred</h1>
      <p class="lead">Billy — Expense Tracker</p>
      <hr class="my-4">
      <p>Please contact the administrator for help.</p>
    </div>
  </div>
</div>

<%- include ('partials/footer') %>
