<%- include ('partials/header') %>

<!-- TODO: add features of the service and screenshots etc -->

<div class="container jumbotron">
  <h1 class="display-1">Billy</h1>
  <p class="lead">A personal expense tracker.</p>
  <hr class="my-4">
  <p>Billy helps you keep track of all your spending and earnings and helps you plan for the future. Click "Create Account" in the top right to get started!</p>
</div>

<%- include ('partials/footer') %>
