<%- include ('partials/header') %>

<!-- TODO: add features of the service and screenshots etc -->

<div class="row no-gutters flex-fill d-flex align-items-center justify-content-center bg-dark" style="overflow-y:auto">
  <h1 class="fade-in display-1" style="color: #69ff00">Billy</h1>
  <h1 class="fade-in display-1 text-secondary ml-4">your personal expense tracker<h1>
</div>


<%- include ('partials/footer') %>
