<%- include ('partials/header', { scripts: ["landing-page.js"] }) %>

<!-- TODO: add features of the service and screenshots etc -->

<div class="row no-gutters flex-fill d-flex align-items-center justify-content-center bg-dark" style="overflow-y:auto">
  <h1 id="title" class="display-1" style="color: #69ff00; font-size: 6vw">Billy
  <span id="subtitle" class="display-1 text-secondary" style="font-size: 6vw; line-height: 100%">your personal expense tracker</span></h1>
</div>


<%- include ('partials/footer') %>
