<%- include ('partials/header') %>

<div class="row no-gutters flex-fill d-flex align-items-center justify-content-center" style="overflow-y: auto">
  <div class="card container" style="max-width:500px;">
    <form class="m-3" method="POST">
      <h1 class="text-center">Login</h1>
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" name="username" id="username" placeholder="Enter username" required <% if(locals.error) { %> value="<%= formData.username %>" <% } %>>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" name="password" id="password" placeholder="Password" required>
      </div>
      <div class="d-flex justify-content-center">
        <button type="submit" class="btn btn-primary my-3">Login</button>
      </div>
      <p class="text-center text-danger">
        <% if(locals.error) { %> Invalid username or password<% } %>
        <br>
      </p>
    </form>
    <a class="m-3 text-center" href="/forgot">Forgot username or password?</a>
    <a class="m-3 text-center" href="/register">Don't have an account?</a>
  </div>
</div>

<%- include ('partials/footer') %>
