<%- include ('partials/header') %>

  <div class="row no-gutters flex-fill d-flex align-items-center justify-content-center">
    <div class="card container" style="max-width:500px;">
      <form class="m-3" method="POST">
        <h1 class="text-center">Create an account</h1>
        <div class="form-group">
          <label for="username">Username</label>
          <input type="text" class="form-control" id="username" placeholder="Enter username">
        </div>
        <div class="form-group">
          <label for="email">Email address</label>
          <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email">
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" class="form-control" id="password" placeholder="Password">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Confirm password</label>
          <input type="password" class="form-control" id="confirmPassword" placeholder="Password">
        </div>
        <div class="form-check text-center">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="terms">I agree to the terms and conditions</label>
        </div>
        <div class="d-flex justify-content-center">
          <button type="submit" class="btn btn-primary my-3">Register</button>
        </div>
      </form>
      <a class="m-3 text-center" href="/login">Already have an account?</a>
    </div>
  </div>

<%- include ('partials/footer') %>
