<%- include ('../partials/header') %>

<div class="d-flex flex-fill" style="overflow-y: auto">
  <div class="container">
    <div class="jumbotron">
      <h1 class="display-3">About</h1>
      <p class="lead">Billy — Expense Tracker</p>
      <hr class="my-4">
      <ul>
        <li><a href="/about/terms">Terms and Conditions</a></li>
        <li><a href="https://github.com/jfabellera/billy/graphs/contributors">Contributors</a></li>
    </div>
  </div>
</div>

<%- include ('../partials/footer') %>
