/* For mobiel input tap screen resizing */
input,
select {
  font-size: 16px !important;
}

/* Resize certain fields to match the other ones not affected by font-size */
.ant-input,
.ant-picker {
  padding-top: 2px !important;
  padding-bottom: 2px !important;
}

.card-hover:hover {
  background-color: rgb(228, 228, 228);
  cursor: pointer;
}

.text-overflow-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.ant-layout-header {
  line-height: inherit !important;
}

.ant-layout-content {
  margin: 0 !important;
}

.drawer {
  font-size: 20px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
  color: white !important;
}

.user-buttons {
  font-size: 16px;
  padding: 0 24px;
  color: white;
}

.drawer:hover,
.user-buttons:hover {
  color: #1890ff !important;
}

.logo {
  height: 32px;
  margin: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo h2,
.logo {
  color: white;
}

.site-layout {
  background: #fff;
}

/* When sidebar/drawers are opened */
.dim-overlay {
  position: fixed;
  z-index: 50;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  background-color: black;
  transition: all 0.15s linear;
}
