.ant-layout-header {
  line-height: inherit !important;
}

.navbar-icon {
  font-size: 20px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

.user-buttons {
  font-size: 18px;
  padding: 0 24px;
}

.navbar-icon:hover, .user-buttons:hover {
  color: #1890ff;
}

.logo {
  height: 32px;
  margin: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo h2,
.logo {
  color: white;
}

.site-layout .site-layout-background {
  background: #fff;
}

.dim-overlay {
  position: fixed;
  z-index: 50;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  background-color: black;
  transition: all 0.15s linear;
}